name = "yomitan-audio-worker"
main = "src/index.ts"
compatibility_date = "2025-03-21"

[vars]
AUTHENTICATION_ENABLED=true
AWS_POLLY_ENABLED=true

[[d1_databases]]
binding = "yomitan_audio_d1_db"
database_name = "yomitan-audio-db"
database_id = "YOUR_DATABASE_ID_HERE"

[[r2_buckets]]
binding = "yomitan_audio_r2_bucket"
bucket_name = "yomitan-audio-bucket"